.title {
  font-family: sans-serif;
  text-align: center;
  margin-top: 0px;
}

.table-top-button {
  margin-bottom: 5px;
  text-align: right;
}

.table-top-button button {
  margin-right: 5px;
}

.p-datatable .p-datatable-tbody .p-datatable-emptymessage td {
  text-align: center;
}

.confirmation-content {
  display: flex;
  align-items: center;
}

.confirmation-content i {
  margin-right: 10px;
}

span.p-message-summary {
  margin-right: 5px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid yellow;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

small.p-invalid {
  color: #f44336;
}
